.color {
  color: #dd730a;
}

/* AppDesignWorkPlaces.module.css */
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.prevArrow {
  left: 10px;
}

.nextArrow {
  right: 10px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.arrow svg {
  color: white;
}
